Web References/LOG_DM_Department_BasicWS__c/LOG_DM_Department_BasicWS__c.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:LOG_DM_Department_BasicWS__c" targetNamespace="urn:LOG_DM_Department_BasicWS__c" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:LOG_DM_Department_BasicWS__c">
      <xsd:element name="Create" type="s0:InputMapping1" />
      <xsd:complexType name="InputMapping1">
        <xsd:sequence>
          <xsd:element name="Submitter" type="xsd:string" />
          <xsd:element name="Department_Type" type="xsd:string" />
          <xsd:element name="Status" type="s0:StatusType" />
          <xsd:element name="Department_Name" type="xsd:string" />
          <xsd:element name="Postal_Address" type="xsd:string" />
          <xsd:element name="Store_Number" type="xsd:string" />
          <xsd:element name="City" type="xsd:string" />
          <xsd:element name="Province" type="xsd:string" />
          <xsd:element name="Postal_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispCheckDuplicate" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispOldStoreNumber" type="xsd:string" />
          <xsd:element name="System_Group" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispIntStoreNo" type="xsd:int" />
          <xsd:element minOccurs="0" name="Billing_Code" type="xsd:string" />
          <xsd:element minOccurs="0" default="1" name="Data_Fix_Counter" type="xsd:int" />
          <xsd:element minOccurs="0" name="Region" type="xsd:string" />
          <xsd:element minOccurs="0" name="Implementation_Date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Database" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-FMS" type="xsd:string" />
          <xsd:element minOccurs="0" name="User_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-EFT" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-PER" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="StatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Active" />
          <xsd:enumeration value="Inactive" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="CreateResponse" type="s0:OutputMapping1" />
      <xsd:complexType name="OutputMapping1">
        <xsd:sequence>
          <xsd:element name="Dept_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Get" type="s0:InputMapping2" />
      <xsd:complexType name="InputMapping2">
        <xsd:sequence>
          <xsd:element name="Dept_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetResponse" type="s0:OutputMapping2" />
      <xsd:complexType name="OutputMapping2">
        <xsd:sequence>
          <xsd:element name="Dept_ID" type="xsd:string" />
          <xsd:element name="Submitter" type="xsd:string" />
          <xsd:element minOccurs="0" name="Create_Date" type="xsd:dateTime" />
          <xsd:element name="Department_Type" type="xsd:string" />
          <xsd:element minOccurs="0" name="Last_Modified_By" type="xsd:string" />
          <xsd:element minOccurs="0" name="Modified_Date" type="xsd:dateTime" />
          <xsd:element name="Status" type="s0:StatusType" />
          <xsd:element name="Department_Name" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status_History" type="xsd:string" />
          <xsd:element name="Postal_Address" type="xsd:string" />
          <xsd:element name="Store_Number" type="xsd:string" />
          <xsd:element name="City" type="xsd:string" />
          <xsd:element name="Province" type="xsd:string" />
          <xsd:element name="Postal_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispCheckDuplicate" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispOldStoreNumber" type="xsd:string" />
          <xsd:element name="System_Group" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispIntStoreNo" type="xsd:int" />
          <xsd:element minOccurs="0" name="Billing_Code" type="xsd:string" />
          <xsd:element minOccurs="0" default="1" name="Data_Fix_Counter" type="xsd:int" />
          <xsd:element minOccurs="0" name="Region" type="xsd:string" />
          <xsd:element minOccurs="0" name="Implementation_Date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Database" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-FMS" type="xsd:string" />
          <xsd:element minOccurs="0" name="User_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-EFT" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-PER" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Set" type="s0:InputMapping3" />
      <xsd:complexType name="InputMapping3">
        <xsd:sequence>
          <xsd:element minOccurs="0" default="$USER$" name="Submitter" type="xsd:string" />
          <xsd:element minOccurs="0" name="Department_Type" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status" nillable="true" type="s0:StatusType" />
          <xsd:element minOccurs="0" name="Department_Name" type="xsd:string" />
          <xsd:element minOccurs="0" name="Postal_Address" type="xsd:string" />
          <xsd:element minOccurs="0" name="Store_Number" type="xsd:string" />
          <xsd:element minOccurs="0" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" name="Province" type="xsd:string" />
          <xsd:element minOccurs="0" name="Postal_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispCheckDuplicate" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispOldStoreNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="System_Group" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispIntStoreNo" type="xsd:int" />
          <xsd:element minOccurs="0" name="Billing_Code" type="xsd:string" />
          <xsd:element minOccurs="0" default="1" name="Data_Fix_Counter" type="xsd:int" />
          <xsd:element minOccurs="0" name="Region" type="xsd:string" />
          <xsd:element minOccurs="0" name="Implementation_Date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Database" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-FMS" type="xsd:string" />
          <xsd:element minOccurs="0" name="User_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-EFT" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-PER" type="xsd:string" />
          <xsd:element name="Dept_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SetResponse" type="s0:OutputMapping3" />
      <xsd:complexType name="OutputMapping3">
        <xsd:sequence>
          <xsd:element name="Dept_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Service" type="s0:InputMapping4" />
      <xsd:complexType name="InputMapping4">
        <xsd:sequence>
          <xsd:element minOccurs="0" default="$USER$" name="Submitter" type="xsd:string" />
          <xsd:element minOccurs="0" name="Department_Type" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status" nillable="true" type="s0:StatusType" />
          <xsd:element minOccurs="0" name="Department_Name" type="xsd:string" />
          <xsd:element minOccurs="0" name="Postal_Address" type="xsd:string" />
          <xsd:element minOccurs="0" name="Store_Number" type="xsd:string" />
          <xsd:element minOccurs="0" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" name="Province" type="xsd:string" />
          <xsd:element minOccurs="0" name="Postal_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispCheckDuplicate" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispOldStoreNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="System_Group" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispIntStoreNo" type="xsd:int" />
          <xsd:element minOccurs="0" name="Billing_Code" type="xsd:string" />
          <xsd:element minOccurs="0" default="1" name="Data_Fix_Counter" type="xsd:int" />
          <xsd:element minOccurs="0" name="Region" type="xsd:string" />
          <xsd:element minOccurs="0" name="Implementation_Date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Database" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-FMS" type="xsd:string" />
          <xsd:element minOccurs="0" name="User_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-EFT" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-PER" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ServiceResponse" type="s0:OutputMapping4" />
      <xsd:complexType name="OutputMapping4">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Dept_ID" type="xsd:string" />
          <xsd:element minOccurs="0" default="$USER$" name="Submitter" type="xsd:string" />
          <xsd:element minOccurs="0" name="Create_Date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Department_Type" type="xsd:string" />
          <xsd:element minOccurs="0" name="Last_Modified_By" type="xsd:string" />
          <xsd:element minOccurs="0" name="Modified_Date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Status" nillable="true" type="s0:StatusType" />
          <xsd:element minOccurs="0" name="Department_Name" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status_History" type="xsd:string" />
          <xsd:element minOccurs="0" name="Postal_Address" type="xsd:string" />
          <xsd:element minOccurs="0" name="Store_Number" type="xsd:string" />
          <xsd:element minOccurs="0" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" name="Province" type="xsd:string" />
          <xsd:element minOccurs="0" name="Postal_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispCheckDuplicate" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispOldStoreNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="System_Group" type="xsd:string" />
          <xsd:element minOccurs="0" name="zDispIntStoreNo" type="xsd:int" />
          <xsd:element minOccurs="0" name="Billing_Code" type="xsd:string" />
          <xsd:element minOccurs="0" default="1" name="Data_Fix_Counter" type="xsd:int" />
          <xsd:element minOccurs="0" name="Region" type="xsd:string" />
          <xsd:element minOccurs="0" name="Implementation_Date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Database" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-FMS" type="xsd:string" />
          <xsd:element minOccurs="0" name="User_Code" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-EFT" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pre-PER" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetList" type="s0:InputMapping5" />
      <xsd:complexType name="InputMapping5">
        <xsd:sequence>
          <xsd:element name="Qualification" type="xsd:string" />
          <xsd:element name="startRecord" type="xsd:string" />
          <xsd:element name="maxLimit" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetListResponse" type="s0:OutputMapping5" />
      <xsd:complexType name="OutputMapping5">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="getListValues">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Dept_ID" type="xsd:string" />
                <xsd:element name="Submitter" type="xsd:string" />
                <xsd:element minOccurs="0" name="Create_Date" type="xsd:dateTime" />
                <xsd:element name="Department_Type" type="xsd:string" />
                <xsd:element minOccurs="0" name="Last_Modified_By" type="xsd:string" />
                <xsd:element minOccurs="0" name="Modified_Date" type="xsd:dateTime" />
                <xsd:element name="Status" type="s0:StatusType" />
                <xsd:element name="Department_Name" type="xsd:string" />
                <xsd:element minOccurs="0" name="Status_History" type="xsd:string" />
                <xsd:element name="Postal_Address" type="xsd:string" />
                <xsd:element name="Store_Number" type="xsd:string" />
                <xsd:element name="City" type="xsd:string" />
                <xsd:element name="Province" type="xsd:string" />
                <xsd:element name="Postal_Code" type="xsd:string" />
                <xsd:element minOccurs="0" name="zDispCheckDuplicate" type="xsd:string" />
                <xsd:element minOccurs="0" name="zDispOldStoreNumber" type="xsd:string" />
                <xsd:element name="System_Group" type="xsd:string" />
                <xsd:element minOccurs="0" name="zDispIntStoreNo" type="xsd:int" />
                <xsd:element minOccurs="0" name="Billing_Code" type="xsd:string" />
                <xsd:element minOccurs="0" default="1" name="Data_Fix_Counter" type="xsd:int" />
                <xsd:element minOccurs="0" name="Region" type="xsd:string" />
                <xsd:element minOccurs="0" name="Implementation_Date" type="xsd:dateTime" />
                <xsd:element minOccurs="0" name="Database" type="xsd:string" />
                <xsd:element minOccurs="0" name="Pre-FMS" type="xsd:string" />
                <xsd:element minOccurs="0" name="User_Code" type="xsd:string" />
                <xsd:element minOccurs="0" name="Pre-EFT" type="xsd:string" />
                <xsd:element minOccurs="0" name="Pre-PER" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo" />
      <xsd:complexType name="AuthenticationInfo">
        <xsd:sequence>
          <xsd:element name="userName" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element minOccurs="0" name="authentication" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="timeZone" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetListSoapOut">
    <wsdl:part name="parameters" element="s0:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetListSoapIn">
    <wsdl:part name="parameters" element="s0:GetList" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="s0:Get" />
  </wsdl:message>
  <wsdl:message name="ServiceSoapOut">
    <wsdl:part name="parameters" element="s0:ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="s0:GetResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="s0:Create" />
  </wsdl:message>
  <wsdl:message name="ServiceSoapIn">
    <wsdl:part name="parameters" element="s0:Service" />
  </wsdl:message>
  <wsdl:message name="ARAuthenticate">
    <wsdl:part name="parameters" element="s0:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="SetSoapIn">
    <wsdl:part name="parameters" element="s0:Set" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="s0:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSoapOut">
    <wsdl:part name="parameters" element="s0:SetResponse" />
  </wsdl:message>
  <wsdl:portType name="PortPortType">
    <wsdl:operation name="Create">
      <wsdl:input message="s0:CreateSoapIn" />
      <wsdl:output message="s0:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="s0:GetSoapIn" />
      <wsdl:output message="s0:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Set">
      <wsdl:input message="s0:SetSoapIn" />
      <wsdl:output message="s0:SetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Service">
      <wsdl:input message="s0:ServiceSoapIn" />
      <wsdl:output message="s0:ServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input message="s0:GetListSoapIn" />
      <wsdl:output message="s0:GetListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortSoapBinding" type="s0:PortPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="urn:LOG_DM_Department_BasicWS__c/Create" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="urn:LOG_DM_Department_BasicWS__c/Get" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set">
      <soap:operation soapAction="urn:LOG_DM_Department_BasicWS__c/Set" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Service">
      <soap:operation soapAction="urn:LOG_DM_Department_BasicWS__c/Service" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="urn:LOG_DM_Department_BasicWS__c/GetList" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LOG_DM_Department_BasicWS__cService">
    <wsdl:port name="PortSoap" binding="s0:PortSoapBinding">
      <soap:address location="http://prodlgremv1/arsys/services/ARService?server=ProdLGRemV1&amp;webService=LOG_DM_Department_BasicWS__c" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>